/* CSS Variables */
:root {
    --text-light-color: #FFFFFF;
    --text-gray-color-1: #38535D;
    --text-gray-color-2: #55565A;
    --bg-color-1: #222222;
    --bg-color-2: #282829;
    --bg-light-color: #FFFFFF;
    --accent-color: #D5C9BE;
    --primary-color: #E90330;
    --btn-light-bg: #FFFFFF;
    --btn-light-text: #222222;
    --btn-dark-bg: #222222;
    --btn-dark-text: #FFFFFF;
}

@font-face {
    font-family: 'Prata';
    src: url('src/fonts/Prata/Prata-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    line-height: 1.2;
    font-size: calc(0.5vw + 10px);
}

@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

input, textarea {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

/* Container Styles */
.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

@media (max-width: 1920px) {
    .container {
        max-width: 1640px;
    }
}

@media (max-width: 1640px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Styling Buttons */
button {
    font-size: calc(0.7vw + 10px);
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.3s;
    padding: 32px 50px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.btn-big {
    width: 100%;
}

.btn-light {
    background-color: var(--btn-light-bg);
    color: var(--btn-light-text);
}

.btn-light:hover {
    background-color: var(--accent-color);
    color: var(--btn-light-text);
}

.btn-dark {
    background-color: var(--btn-dark-bg);
    color: var(--btn-dark-text);
}

.btn-dark:hover {
    background-color: var(--primary-color);
    color: var(--btn-light-bg);
}

@media (max-width: 1200px) {
    button {
        font-size: 18px;
        padding: 25px 50px;
    }
}

@media (max-width: 960px) {
    button {
        padding: 20px 50px;
    }
}

@media (max-width: 720px) {
    button {
        padding: 15px 30px;
    }
}

@media (max-width: 540px) {
    button {
        font-size: 16px;
    }
}

/* Styles Inputs */

input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 15px 40px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 15px;
    font-size: calc(0.7vw + 10px);
    color: var(--text-gray-color-1);
}

@media (max-width: 1200px) {
    input[type="text"],
    input[type="email"] {
        font-size: 18px;
        padding: 15px 30px;
    }
}

@media (max-width: 540px) {
    input[type="text"],
    input[type="email"] {
        font-size: 16px;
        padding: 15px 20px;
    }
}

.checkbox {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.checkbox-label {
    padding-left: 15px;
    color: var(--bg-color-2);
    cursor: pointer;
}

.checkbox-input {
    appearance: none;
    position: relative;
    min-width: 24px;
    height: 24px;
    background: var(--bg-light-color);
    border-radius: 4px;
    border: 1px solid var(--bg-color-1);
    transition: 0.3s;
}

.checkbox-input::after,
.radio-input::after {
    content: "\2714";
    position: absolute;
    top: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
    color: var(--text-gray-color-2);
    font-size: 20px;
}

.checkbox-input:checked::after,
.radio-input:checked::after {
    width: 30px;
    height: 30px;
    transition: 500ms;
}

.checkbox-input:disabled,
.radio-input:disabled {
    background: #ccc;
    border-color: #ccc;
}

.checkbox-input:disabled::after,
.radio-input:disabled::after {
    filter: grayscale(100%);
}

/* Icons Styles */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: var(--accent-color);
    fill: var(--accent-color);
}

/* Titles Styles */
.title {
    font-family: 'Prata';
    font-weight: normal;
}

h2 {
    font-size: calc(3.5vw + 13px);
}

h3 {
    font-size: calc(2.25vw + 11px);
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    color: var(--text-light-color);
    padding: 30px 0;
    transition: background-color 0.3s;
}

header.scrolled {
    background-color: rgba(28, 28, 28, 0.9);
    z-index: 1000;
}

header .align-switch {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-transform: uppercase;
    font-style: italic;
}

nav a {
    color: var(--text-light-color);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    header {
        padding: 20px;
        background-color: var(--bg-color-1);
        z-index: 1000;
    }

    header .align-switch {
        width: 100%;
    }

    header.scrolled {
        background-color: rgb(28, 28, 28);
    }

    nav {
        flex-grow: 0;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px;
    }

    .logo img {
        height: 60px;
    }
}

@media (max-width: 720px) {
    nav ul {
        gap: 20px;
        font-size: 14px;
    }
}


/* Banner Content Styles */
.banner .container {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    padding-top: 330px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner-image {
    background-image: url('src/img/astronaut.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.banner .subtitle {
    font-size: calc(2vw + 12px);
}

.banner ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.banner li {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: calc(0.7vw + 10px);
}

.banner .icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.banner button {
    padding: 40px 50px;
}

@media (max-width: 1640px) {
    .banner-content {
        padding-top: 260px;
        gap: 40px;
    }

    .banner button {
        padding: 32px 50px;
    }
}

@media (max-width: 1200px) {
    .banner {
        position: relative;
    }

    .banner .container {
        flex-direction: column-reverse;
    }

    .banner-image {
        width: 100%;
        height: 100%;
        z-index: -100;
    }

    .banner-image::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
    }

    .banner ul {
        gap: 30px;
    }

    .banner li {
        font-size: 18px;
    }

    .banner .icon {
        width: 35px;
        height: 35px;
        min-width: 35px;
    }

    .banner button {
        padding: 25px 50px;
    }
}

@media (max-width: 960px) {
    .banner-content {
        padding-top: 240px;
        gap: 30px;
    }

    .banner ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .banner button {
        padding: 20px 50px;
    }
}

@media (max-width: 720px) {
    .banner ul {
        gap: 15px;
    }

    .banner .icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
    }

    .banner button {
        padding: 15px 30px;
    }
}

@media (max-width: 540px) {
    .banner-content {
      padding-top: 200px;
    }

    .banner li {
        font-size: 16px;
    }
}

/*Advantages Content Styles */
.advantages {
    padding-top: 100px;
    background-color: var(--bg-color-2);
    position: relative;
}

.advantages-content {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
}

.advantages button {
    width: 100%;
}

.advantages-image {
    background-image: url('src/img/moon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    position: absolute;
    top: 100px;
    right: 0;
    height: calc(100% - 100px);
}

.advantages ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: calc(0.7vw + 10px);
    position: relative;
}

.advantages li:not(:last-child)::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #55565A;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.advantages .icon {
    min-width: 60px;
    height: 60px;
}

@media (max-width: 1600px) {
    .advantages-content {
        width: 60%;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .advantages li {
        font-size: 18px;
    }

    .advantages-image {
        width: 35%;
    }

    .advantages .icon {
        min-width: 45px;
        height: 45px;
    }
}

@media (max-width: 960px) {
    .advantages-content {
        width: 100%;
    }

    .advantages-image {
        display: none;
    }

    .advantages .icon {
        min-width: 40px;
        height: 40px;
    }
}

@media (max-width: 720px) {
    .advantages-content {
        gap: 60px;
    }

    .advantages ul {
        gap: 30px;
    }
}

@media (max-width: 540px) {
    .advantages {
        padding-top: 60px;
    }

    .advantages-content {
        gap: 40px;
    }

    .advantages .icon {
        min-width: 30px;
        height: 30px;
    }

    .advantages ul {
        gap: 40px;
    }

    .advantages li {
        font-size: 18px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

/*Contact Form Styles */
.contact-form {
    padding: 100px 0;
    background-color: var(--bg-color-2);
}

.contact-form .content-and-image {
    background-color: var(--bg-light-color);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.contact-content {
    width: 65%;
    padding: 75px 135px;
}

.contact-form .title {
    color: #38535D;
}

.contact-image {
    width: 35%;
    background-image: url('src/img/austronaut-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    right: -20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.contact-form button {
    width: 100%;
}

@media (max-width: 1200px) {
    .contact-content {
        padding: 40px 80px;
    }

    .contact-form form {
        margin-top: 20px;
    }
}

@media (max-width: 960px) {
    .contact-content {
        padding: 35px 35px;
    }
}

@media (max-width: 720px) {
    .contact-image {
        display: none;
    }

    .contact-content {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .contact-form {
        padding: 60px 0;
    }

    .content-and-image {
        padding: 0 10px;
    }

    .contact-content {
        padding: 25px 0;
    }

    .contact-form form {
        margin-top: 15px;
    }
}

/* Footer Content Styles */
.call-to-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 20px;
    text-transform: uppercase;
    font-style: italic;
    padding: 40px 0;
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.logo-and-social,
.footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.social-links {
    display: flex;
    gap: 32px;
}

.social-links .icon {
    width: 32px;
    height: 32px;
    transition: 0.3s;
}

.social-links .icon:hover {
    fill: var(--primary-color);

}

.logo-and-social .logo {
    width: 180px;
}

.logo-and-social button {
    font-style: italic;
}

.footer-info {
    padding-bottom: 60px;
}

.footer-info a {
    color: var(--accent-color);
    transition: color 0.3s;
}

.footer-info a:hover {
    color: var(--primary-color);
}

@media (max-width: 960px) {
    .call-to-action {
        padding: 30px 0;
    }

    .social-links {
        display: flex;
        gap: 25px;
    }
    
    .social-links .icon {
        width: 25px;
        height: 25px;
    }

    .logo-and-social .logo {
        width: 100px;
    }
}

@media (max-width: 720px) {
    .call-to-action {
        padding: 20px 0;
    }

    .logo-and-social .logo {
        width: fit-content;
    }

    .logo-and-social {
        padding-top: 30px;
        flex-direction: column;
        gap: 30px;
    }

    .social-links {
        gap: 20px;
    }

    .footer-info {
        font-size: 14px;
        flex-direction: column;
        gap: 15px;
    }
}
